{% extends 'base.html' %}
{% block content %}
<main class="container mt-3 mb-5">
	<h3 class="border-bottom pb-1 my-4">About</h3>
    <p>A Fast News is a website that provides news and information about current events, issues, and other topics of interest. Online news portals typically offer a range of content, including articles, videos, podcasts, and other multimedia formats, and may cover a wide range of topics such as politics, business, sports, entertainment, and more. They are a popular source of information for people who want to 
        stay informed about current events and news from around the world. </p>

    <p>Reading news through News paper is not a good solution in this era for 
        news readers. The web World is so fast, there are many websites which 
        provides instant news. The main objective building and developing of  
        Fast News Website to provide instant news to news readers. This website 
        provides information about latest news, articles, education, health 
        tips, breaking news, political, sports, etc. The One more advantage of 
        this project is here advertisers can upload advertising contents through 
        online for website ads. Advertisers have option to make payment through 
        online for published advertisements. </p>    
    
    
</main>
{% endblock %}